{% extends 'admin/base.html' %}
{% block content %}

<section style="margin-top:50px;min-height: 500px;">
    <div class="container">
        <div class="text-center"><h3>Group Admins</h3></div>
        <div class="row" style="margin:0 auto;width:100%;margin-top:20px;">
            {% if data %}
                <div>
                <table style="border:1px solid #1bbd36;width:100%">
                    <thead style="color: white;background: #1bbd36;text-align: center;height: 40px;">
                        <tr>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Location</th>
                            <th>Emailid</th>
                            <th>Phone</th>
                            <th>Qualification</th>
                            <th>Experience</th>
                            <th>Group</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;"> 
                        {% for v in data %}
                        <tr style="border-bottom:1px solid #1bbd36;height:50px">
                            <td>{{v.name}}</td>
                            <td>{{v.gender}}</td>
                            <td>{{v.location}}</td>
                            <td>{{v.mailid}}</td>
                            <td>{{v.phonenum}}</td>
                            <td>{{v.qualification}}</td>
                            <td>{{v.experience}}</td>
                            <td>{{v.group}}</td>
                            <td>
                                <a href="{% url 'deletegroupadmins' v.id %}" class="btn" style="background: #1bbd36;color: white;">Delete</a>
                            </td>
                            <td>
                                <a href="{% url 'viewmentorsADMIN' v.id %}" class="btn" style="background: #1bbd36;color: white;">View Mentors</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <div class="text-center">List is empty</div>
            {% endif %}
        </div>
    </div>
</section>






{% endblock %}