{% extends 'base.html' %}
{% block content %}
<section>
<div class="container" style="margin-top:30px">
<div class="row" style="margin:0 auto;width:50%">
<form method="post" action="{% url 'forgetpassword_updateAction'%}">
    {% csrf_token %}
<div class="form-group">
    <h5 class="text-black">set your password</h5></div>
    <input type="hidden" name="hdn_uname" id="hdn_uname" value="{{username}}"/>
<input type="hidden" name="hdn_type" id="hdn_type" value="{{type}}"/>
<div class="form-group">
                    <label for="website"> New password:</label>
         <input type="password" name="txtnewpwd" class="form-control">
</div>

<div class="form-group">
                    <label for="website">  Retype password:</label>
         <input type="password" name="txtretypepwd" class="form-control">
</div>

<div class="text-center" style="margin-top:20px"><input type="submit" value="change password" class="btn" style="background:#1bbd36;color:white"></div>
   
    </form>
</div>
</div>
</section>
 {% if msg %}
	<script>
    		alert('{{msg}}');
	</script>
    {% endif %}
{% endblock %}



